@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap');

*p{
    font-family: 'Lato', sans-serif;
    color: #ffffff;
 }

 *h1{
    font-family: 'Lato', sans-serif;
 }

 *h2{
    font-family: 'Lato', sans-serif;
 }

 *h3{
    font-family: 'Lato', sans-serif;
 }

body{
    background-color: #f5f4f4;
}
*p{
    color: #000000;
}

*h3 {
    color: #cfb611;
    font-size: 6vw;
}

* {
    padding: 0vw;
    margin: 0vw;
}

.HelpBlockRent{
    background-color: #f5f4f4;
    width: 90vw;
    height: 8vw;
}

.Title__Rent{
    margin-left: 2vw;
}
.Choose__Category p{
    font-size: 0.9vw;
}

.Choose__Category{
    margin-top: 3vw;
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.BlockEconom{
    width: 5vw;
    height: 2vw;
    background-color: #ffffff;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BlcokSrednii {
    width: 5vw;
    height: 2vw;
    background-color: #ffffff;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BlcokKomfort {
    width: 5vw;
    height: 2vw;
    background-color: #ffffff;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BlcokKomfortPlus {
    width: 6vw;
    height: 2vw;
    background-color: #ffffff;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BlcokBusiness{
    width: 5vw;
    height: 2vw;
    background-color: #ffffff;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BlcokPremium{
    width: 5vw;
    height: 2vw;
    background-color: #ffffff;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BlcokKabriolet{
    width: 6vw;
    height: 2vw;
    background-color: #ffffff;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BlcokDzhipy{
    width: 7vw;
    height: 2vw;
    background-color: #ffffff;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BLockMikrovtobus{
    width: 8vw;
    height: 2vw;
    background-color: #ffffff;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BLockAvtodom{
    width: 9vw;
    height: 2vw;
    background-color: #ffffff;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BLockMiniven{
    width: 6vw;
    height: 2vw;
    background-color: #ffffff;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BLockElektro{
    width: 7vw;
    height: 2vw;
    background-color: #ffffff;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BLockMikrobus{
    width: 6vw;
    height: 2vw;
    background-color: #ffffff;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BackgroundEconom{
    height: 5vw;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vw;
    background-color: #ffffff;
    border-radius: 1vw;
    justify-content: center;
}

.Background__Title{
    display: flex;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
}

.Title__Avtopark{
    display: flex;
    margin-top: 1.2vw;
}

.Title__Avto{
    display: flex;
    margin-top: 2vw;
}

.LineFirst__One{
    background-color: #ffffff;
    height: 31vw;
    width: 24vw;
    border: 0.1vw solid #979797;
    border-radius: 0.5vw;
}

.LineFirst__Two{
    background-color: #ffffff;
    height: 31vw;
    width: 24vw;
    border: 0.1vw solid #979797;
    border-radius: 0.5vw;
}

.LineFirst__Three{
    background-color: #ffffff;
    height: 31vw;
    width: 24vw;
    border: 0.1vw solid #979797;
    border-radius: 0.5vw;
}

.Block__CarImg img{
    height: 16vw;
    width: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Block__CarName{
    margin-top: 2vw;
    margin-left: 1vw;
}

.Block__CarType {
    margin-left: 1vw;
    color: #cbcbcb;
    font-size: 1vw;
}

.Block__CarDescription {
    margin-left: 1vw;
    font-size: 0.9vw;
}

.CarDescription__Color{
    background-color: #d0c8d5;
    border-radius: 0.2vw;
}

.Block__CarButton{
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.Block__CarButton button{
    border-radius: 1vw;
    padding: 1vw;
    border: none;
    background-color: #ffeb68;
    font-size: 1.3vw;
}

.Block__CarButton button:active {
    background-color: #ffd500;
}

.Block__CarPrice{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(227, 227, 227);
    padding-bottom: 0.3vw;
    margin-top: 2vw;
    margin-right: 1vw;
    margin-left: 1vw;
    & p {
        font-size: 1vw;
    }
}

.CarPrice__Cross {
    color: #a11616;
    text-decoration: line-through;
}

.CarPrice_Real{
    font-weight: bold;
}

.Car__LineFirst{
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vw;
}

.Car__LineSecond{
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 3vw;
}

.Car__LineThird{
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 3vw;
}

.Car__LineFourth{
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 3vw;
}

.Car__LineFifth{
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 3vw;
}